name: chat-socket
services:
  socket:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8002:3000"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    extra_hosts:
      - "host.docker.internal:host-gateway"
